@charset "UTF-8";
/*! 盛邦升华 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  margin: auto; }

.box {
  padding: 5px;
  float: left; }

.box img {
  width: 300px;
  height: auto;
  padding: 5px;
  box-shadow: 0 0 5px #666;
  border: solid 1px #999; }
