*{
    margin: 0px;
    padding: 0px;
    font-family: "宋体";
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.big{
    background-image: url(../images/lubg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 800px;
}
.sml{
    width: 1200px;
    margin: auto;

}
header{
    height: 70px;
}
.logo{
    position: absolute;
    top: 30px;
    margin-left: 23px;
}
nav{
    position: absolute;
    top: 40px;
    margin-left: 810px;
}
nav ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.red{
    color: #f3290e;
}
nav ul li{
    float: left;
}
nav ul li a{
    display: block;
    width: 80px;
    float: left;
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}
nav ul li a:hover{
    color: #f3290e;
}
.main{
    background-image: url(../images/biaodan4.jpg);
    width: 100%;
    height: 370px;
    margin-top: 50px;
}
.footer{
    margin-top:50px;
    height: 260px;
}
.footer1{
    background: #fff;
    height: 260px;
}
.footer-left{
    width:100%;
    float: left;
    height: 174px;
}
ul{
    list-style: none; 
}
.user{
    padding:51px 0 0 71px;   
}
.user>li{
    float: left;
    width: 150px;
}
.userText span{
    font-size: 18px;
    color: #000;
    line-height: 36px;
}
.userText a{
    font-size: 15px;
    color: #636060;
    line-height: 19px;
}
.text{
    margin-left:140px; 
    text-align: center;
}
.tel{
    font-size: 24px;
    color: #120a0a;
}
.time{
    font-size: 14px;
    color: #3c3b3b;
}
.footer-botton{
    clear: both;
    border-top: solid 2px #6a6767;
    width: 891px;
    margin:23px 0 0 71px;
    padding-top: 23px;
}
.footer-bottonleft{
    font-size: 14px; 
    color: #3c3b3b;
    float: left;
    width: 600px;
    margin-right: 140px;
}
.footer-bottonright{
    margin-top: -5px;
    font-size: 12px;
}
.footer-bottonright img{
    margin-left: -2px;
}
.new-leftleft:hover,.a5-leftleft:hover,.one4-leftleft:hover{
    background: #ff0000;
    color: #fff
}
.new-leftright:hover,.a5-leftright:hover,.one4-leftright:hover{
    background: #000;
    color: #fff;
    border: solid 1px #000;
}
.xiao{
    background-image:url(../images/bian.gif); 
    width: 281px;
    height: 370px;
    background-position: center center;
    transition: 0.2s;
}
.main1{
    padding:10px 0 0 145px;
}
lable{
    font-size: 20px;
    color: #494747;
    font-weight: bolder;
    text-align: right;
    width: 115px;
    display: block;
    float: left;
}
input{
    width: 190px;
    height: 25px;
    margin-bottom: 15px;
}
.re{
    color: #f00;
}
.main1 span{
    color: #494747;
    font-size: 16px;
}
form{
    margin-top: -30px;
}
#sub,#res{
    width: 100px;
    height: 30px;
    background: #c8e096;
    font-size: 20px;
    color: #fff;
    margin-left: 80px;
    margin-top: 20px;
}
#res{
    margin-left: 15px;
}
.main2{
    margin-left: 145px;
    margin-top: 50px;
    display: none;
}
h1{
    padding: 0;
    color: #c8e096;
    margin: -20px 0 20px 195px;
    cursor: pointer;
    position: relative;
    top: 15px;
}
#lv{
    position: relative;
    left: 100px;
    top: -23px;
    color: #494747;
}
#first{
    width: 100px;
    height: 30px;
    background: #c8e096;
    font-size: 20px;
    color: #fff;
    margin-left: 150px;
    margin-top: 20px;
}