* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}
header .logo{
    text-align: center;
    padding:0 0 0 15px ;
}
nav ul::after,.bannerbtn::after,.date::after,.date-img::after,.first .myimg::after,.footer-top>ul::after,.shai>ul::after,.shai>ul>li>ul::after{
    display: table;
    content: '';
    clear: both;
}
 nav li{
    list-style: none;
    float: left;
}
 .nav>li{
     height:40px;
 }
header li a{
    text-decoration: none;
    color: #333;
    font-size: 14px;
    padding: 8px 5px;
    display: inline-block;
}

.carousel-indicators{
    bottom: 0;
}
header .container-fluid{
    padding: 15px;
}
header .navbar-collapse{
    margin-top: 15px;
}
.banner{
    position: relative;
    margin-top: 70px;
}
#bannerimg{
    width:100%;
    position: absolute;
    top:10px;
    z-index: 1000;
}
header .navbar{
    border:none;
}
.banner .img img{
    width:100%;
}
.bannerbtn{
    padding: 8px;
    color: #666;
    font-size: 12px;
}
.bannerbtn i{
    background: url(../img/index.png);
    width:18px;
    height:17px;
    background-position: -170px -50px;
    display: block;
    float: left;
    margin-right: 8px;
}
.date .date-img a img,.first div a img{
    width:100%;
    height:200px;
}
.date .date-img a,.first div a{
    display: block;
    padding-bottom: 20px;
    float: left;
    width:47%;
    margin: 5px;
    box-shadow: 0 0 5px #666;
    border: solid 1px #999;
    padding: 5px;
    color: #333;

}
.date .date-img p,.first div a p{
    margin-bottom: 0;
    padding-top: 5px;
}
.date .date-img a:nth-of-type(1),.first div a:nth-of-type(1){
    border-top: solid 4px #E12F4B;
}
.date .date-img a:nth-of-type(2),.first div a:nth-of-type(2){
    border-top: solid 4px #F19812;
}
.date .date-img a:nth-of-type(3),.first div a:nth-of-type(3){
     border-top: solid 4px #489F4A;
 }
.date .date-img a:nth-of-type(4),.first div a:nth-of-type(4){
    border-top: solid 4px #3F77EB;
}
.first1 div a:nth-of-type(5),.first1 div a:nth-of-type(9),.first1 div a:nth-of-type(13),.first1 div a:nth-of-type(17),
.first1 div a:nth-of-type(21),.first1 div a:nth-of-type(25),.first1 div a:nth-of-type(29),.first1 div a:nth-of-type(33){
    border-top: solid 4px #E12F4B;
}
.first1 div a:nth-of-type(6),.first1 div a:nth-of-type(10),.first1 div a:nth-of-type(14),.first1 div a:nth-of-type(18),
.first1 div a:nth-of-type(22),.first1 div a:nth-of-type(26),.first1 div a:nth-of-type(30),.first1 div a:nth-of-type(34){
    border-top: solid 4px #F19812;
}
.first1 div a:nth-of-type(7),.first1 div a:nth-of-type(11),.first1 div a:nth-of-type(15),.first1 div a:nth-of-type(19),
.first1 div a:nth-of-type(23),.first1 div a:nth-of-type(27),.first1 div a:nth-of-type(31),.first1 div a:nth-of-type(35){
    border-top: solid 4px #489F4A;
}
.first1 div a:nth-of-type(8),.first1 div a:nth-of-type(12),.first1 div a:nth-of-type(16),.first1 div a:nth-of-type(20),
.first1 div a:nth-of-type(24),.first1 div a:nth-of-type(28),.first1 div a:nth-of-type(32),.first1 div a:nth-of-type(36){
    border-top: solid 4px #3F77EB;
}
.date h2,.first>p{
    padding: 10px;
    border-bottom: solid 2px #999;
}
.first h2{
    padding-left:10px;
    margin-bottom: 0;
    margin-top: 40px;
}

@media screen and (max-width: 320px){
    .date .date-img{
        text-align: center;
    }
    .date .date-img a img{
        height:250px;
    }
    .date .date-img a,.first div a{
        width:80%;
        margin-left: 10%;
    }
    .footer-top>ul>li{
        width:100%;
    }
}
footer{
    margin-top:30px;
}
.footer-top{
    text-align: center;
}
.footer-top p{
    border-bottom: solid 1px #ccc;
    margin: 5px;
    padding: 5px;
    font-size: 14px;
}
.footer-top>ul>li{
    float: left;
    width:50%;
    list-style: none;
    text-align: center;
}
.footer-top>ul>li>ul>li>a{
    list-style: none;
    font-size: 13px;
    letter-spacing: 1px;
    color: #666;
}
.footer-top>ul>li>ul>li{
    list-style: none;
}
.footer-top>ul>li:nth-of-type(1) p{
    background: url("../img/san1.png") no-repeat 5% center;
}
.footer-top>ul>li:nth-of-type(2) p{
    background: url("../img/san2.png") no-repeat left center;
}.footer-top>ul>li:nth-of-type(3) p{
     background: url("../img/san3.png") no-repeat 5% center;
 }.footer-top>ul>li:nth-of-type(4) p{
      background: url("../img/san4.png") no-repeat left center;
  }
.footer-btn{
    text-align: center;
    border-top:solid 1px #ccc;
    padding-top: 10px;
    margin-top: 20px;
}
.footer-btn p{
    padding: 0 15px;
}
.active1{
    display: none;

}
.shai>ul>li>ul{
   position: absolute;
    background: #eee;
    left: 0;
    width:100%;
}
.shai ul{
    list-style: none;
}
.shai p{
    margin-bottom: 0;
    cursor: pointer;
}
.shai>ul{
    background: #eee;
    position: relative;
}
.shai ul li{
    float: left;
    padding: 15px;

}
.red{
    color: #f00;
}
.bb{
    display: block;
}
.main-btn{
    text-align: center;
    padding-top: 15px;
    position: relative;
    height:20px;
}
.main-btn i{
    font-size: 32px;
    width:32px;
    color: #ccc;
    animation: ee 2s infinite linear;
}
@keyframes ee{
    100%{
        margin-top: -10px;
    }
}