#pg{
    width: 60%;
    position: absolute;
    bottom: 25%;
    left: 20%;
}
progress{
    border:solid 1px #fff;
    background:rgba(0,0,0,.5);
    border-radius: 5px;
}
progress::-webkit-progress-bar {
    border:solid 1px #fff;
    background:rgba(0,0,0,.2);
    color: #fff;
    border-radius: 5px;
}
progress::-moz-progress-bar {
    border:solid 1px #fff;
    background:rgba(0,0,0,.2);
    color: #fff;
    border-radius: 5px; }
progress::-webkit-progress-bar {
    border:solid 1px #fff;
    background:rgba(0,0,0,.2);
    color: #fff;
    border-radius: 5px;
}
progress::-webkit-progress-value  {
    border:solid 1px #fff;
    background:rgba(0,0,0,.2);
    color: #fff;
    border-radius: 5px;
    background: #fff;
}
.all {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bg{
    width: 100%;
    height: 100%;
}
.bg1{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    animation:color 5s infinite linear;
}
@keyframes color {
    0% {
        left:-20px;
    }
    50% {
        left:20px;
    }
    100% {
        left:0px ;
    }
}
.tishi{
    position: absolute;
    left: 30%;
    top: 25%;
    width: 40%;
    height: 30%;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
}
#show,#show1{
    padding: 10px;
    color: #fff;
    width: 90%;
    height: 70%;
}
