*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#pg{
    width: 60%;
    position: absolute;
    bottom: 25%;
    left: 20%;
}
progress{
    border:solid 1px #fff;
    background:rgba(0,0,0,.5);
    border-radius: 5px;
}
progress::-webkit-progress-bar {
    border:solid 1px #fff;
    background:rgba(0,0,0,.2);
    color: #fff;
    border-radius: 5px;
}
progress::-moz-progress-bar {
    border:solid 1px #fff;
    background:rgba(0,0,0,.2);
    color: #fff;
    border-radius: 5px; }
progress::-webkit-progress-bar {
    border:solid 1px #fff;
    background:rgba(0,0,0,.2);
    color: #fff;
    border-radius: 5px;
}
progress::-webkit-progress-value  {
    border:solid 1px #fff;
    background:rgba(0,0,0,.2);
    color: #fff;
    border-radius: 5px;
    background: #fff;
}
.all {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.wan{
    background: url(../img/indexbg.jpg) no-repeat left bottom;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bg{
    width: 100%;
    height: 100%;
}
.bg1{
    width: 33%;
    /* height: 207px; */
    text-align: center;
    margin: auto;
    position: absolute;
    top: 7%;
    left: 33%;
}
.bg2{
    width: 11%;
    /* height: 207px; */
    text-align: center;
    margin: auto;
    position: absolute;
    top: 34%;
    left: 60%;
    /* opacity: .6; */
    z-index: 9;
}
.bg3{
    width: 13%;
    /* height: 207px; */
    text-align: center;
    margin: auto;
    position: absolute;
    bottom: 7%;
    right: 2%;
}
.bg4{
    width: 13%;
    /* height: 207px; */
    text-align: center;
    margin: auto;
    position: absolute;
    bottom: 7%;
    left: 11%;
}
.bg5{
    width: 7%;
    /* height: 207px; */
    text-align: center;
    margin: auto;
    position: absolute;
    bottom: 8%;
    left: 14%;
    animation:opt 1s infinite linear;
}
.bg6{
    width: 14%;
    /* height: 207px; */
    text-align: center;
    margin: auto;
    position: absolute;
    bottom: 4%;
    left: 23%;
    z-index: 99999;
}
.bg7{
    width: 7%;
    /* height: 207px; */
    text-align: center;
    margin: auto;
    position: absolute;
    bottom: 5%;
    right: 22%;
}
.bg8{
    width: 37%;
    /* height: 207px; */
    text-align: center;
    margin: auto;
    position: absolute;
    bottom: 12%;
    left: 31%;
}
.bg9{
    width: 8%;
    /* height: 207px; */
    text-align: center;
    margin: auto;
    position: absolute;
    bottom: 9%;
    left: 63%;
    z-index: 99999;
}
.bg10,.bg11,.bg12,.bg13{
    width: 90%;
    /* height: 207px; */
    text-align: center;
    margin: auto;
    position: absolute;
    overflow: hidden;
    bottom: 0%;
    left: 0%;
    opacity: 0;
    animation:pao 5s infinite linear;
}
.bg11{
    opacity: 0;
    animation:pao1 10s infinite linear;
}

.wan,.all{
    overflow: hidden;
}
@keyframes opt {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
@keyframes pao {
    0% {
        opacity: 1;
        bottom: 0;
    }
    75%{
        opacity: 0;
    }
    100% {
        bottom: 80%;
    }
}
@keyframes pao1 {
    0% {
        opacity: 1;
        bottom: 0;
    }
    75%{
        opacity: 0;
    }
    100% {
        bottom:80%;
    }
}
.biao{
    width: 26%;
    position: absolute;
    left: 37%;
    bottom: 15%;
    color: #fff;
    font-size: 1rem;
    z-index: 9999;
}
.biao1 {
    width: 33%;
    position: absolute;
    left: 33.1%;
    top: -100%;
    color: #fff;
    font-size: 1rem;
    z-index: 9999;
    transition: .5s;
}
.biao1 form{
    position: absolute;
    top: 32%;
    left: 10%;
    display: block;
    width: 100%;
}
.biao1 label{
    display: block;
    margin-bottom: 5vh;
    width: 100%;
    position: relative;
}
.biao1 input{
    border: none;
    color: #fff;
    width: 80%;
    padding-left: 15%;
    background-size: cover;
    height:35px;
    outline: none;
    position: relative;
    border-radius: 6px;
    background: #448aca;
    border-top-color: #316492;
}
.biao1 .one{
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 8px;
    background: url(../img/phone.png) no-repeat;
    width: 7%;
    height: 30px;
    background-size: contain;
    z-index: 9;
}
.two{
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 6px;
    background: url(../img/pass.png) no-repeat;
    width: 7%;
    height: 30px;
    background-size: contain;
    z-index: 9;
}
.three{
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 6px;
    background: url(../img/yzm.png) no-repeat;
    width: 7%;
    height: 30px;
    background-size: contain;
    z-index: 9;
}
.biao1 p{
    text-align: right;
    padding-right: 15%;
    font-size: 10px;
}
input::-webkit-input-placeholder {
    color: #fff;
}
.zh{
    width: 100%;
    height: 100%;
}
.biao input{
    display: inline-block;
    width: 64%;
    border-radius: 30px;
    border: solid 1px #00479d;
    padding-left: 8px;
    outline:none;
}
.biao label{
    margin-bottom: 5px;
    display: inline-block;
}

.biao p{
    margin: 0;
    font-size: 8px;
    text-align: center;
    position: relative;
}
.biao p input{
    width: auto;
    border: solid 1px #00479d;
    display: none;
    outline:none;
}

.biao p img{
    width: 15px;
   position: absolute;
}
.zhu,.deng{
    width: 48%;
    margin-top: 5px;
    display: inline-block;
    position: relative;
}
.zhu img,.deng img{
    width: 100%;
}
.zhu span,.deng span{
    position: absolute;
    font-size: 12px;
    left: 37%;
    top: 27%;
    color: #2a5fa1;
    display: inline-block;
}
.zhu1{
    margin: auto;
    width: 40%;
    margin-left: 20%;
}
.zhu1 span{
    top: 28%;
    font-size: 14px;
}
.biao1 p span{
    color: #ffe954;
    border-bottom: 1px solid #ffe954;
    cursor: pointer;
}
@media screen and (max-width:750px) {
    .biao{
        width: 26%;
        position: absolute;
        left: 37%;
        bottom: 13%;
        color: #fff;
        font-size: 1rem;
    }
    .bg1 {
        width: 33%;
        text-align: center;
        margin: auto;
        position: absolute;
        top: 23%;
        left: 33%;
        z-index: 99;
    }
    .bg2 {
        width: 11%;
        /* height: 207px; */
        text-align: center;
        margin: auto;
        position: absolute;
        top: 43%;
        left: 60%;
        /* opacity: .6; */
        z-index: 9;
    }
    .biao1 {
        width: 37%;
        position: absolute;
        left: 31.1%;
        top: -100%;
        color: #fff;
        font-size: 1rem;
        z-index: 9999;
        transition: .5s;
    }
    .biao1 label{
        margin-bottom: 3vh;
    }
}
@media screen and (max-width:570px) {
    .biao {
        width: 30%;
        position: absolute;
        left: 35%;
        bottom: 11%;
        color: #fff;
        font-size: 0.9rem;
    }
    .bg1 {
        width: 33%;
        text-align: center;
        margin: auto;
        position: absolute;
        top: 5rem;
        left: 33%;
        z-index: 99;
    }
    .biao1 {
        width: 39%;
        position: absolute;
        left: 29.1%;
        top: -100%;
        color: #fff;
        font-size: 1rem;
        z-index: 9999;
        transition: .5s;
    }
    .biao1 input{
        height: 30px;
        padding-left: 13%;
    }
    .biao1 input{
        top: 6px;
    }
    .biao1 label:nth-of-type(3){
        margin-bottom: 5px;
    }
    .one,.two,.three{
        top: 11px;
    }
}

/*.bg1{*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*z-index: 99;*/
    /*animation:color 5s infinite linear;*/
/*}*/
/*@keyframes color {*/
    /*0% {*/
        /*left:-20px;*/
    /*}*/
    /*50% {*/
        /*left:20px;*/
    /*}*/
    /*100% {*/
        /*left:0px ;*/
    /*}*/
/*}*/
/*.tishi{*/
    /*position: absolute;*/
    /*left: 30%;*/
    /*top: 25%;*/
    /*width: 40%;*/
    /*height: 30%;*/
    /*background: rgba(255,255,255,0.5);*/
    /*border-radius: 10px;*/
/*}*/
/*#show,#show1{*/
    /*padding: 10px;*/
    /*color: #fff;*/
    /*width: 90%;*/
    /*height: 70%;*/
/*}*/
