.all {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
}
.bg{
    width: 100%;
    height: 100%;
}
.bg1{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    animation:color 5s infinite linear;
}
@keyframes color {
    0% {
        left:-10px;
    }
    50% {
        left:10px;
    }
    100% {
        left:0px ;
    }
}
.tishi{
    position: absolute;
    left: 30%;
    top: 25%;
    width: 40%;
    height: 30%;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
}
#show,#show1{
    padding: 10px;
    color: #fff;
    width: 100%;
    height: 100%;
}