*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    position: relative;
    height:100%;
}
.swiper-container{
    width:100%;
    height:100%;
}
.swiper-slide{
    /*上下左右居中*/
    /*display:flex;
    align-items: center;
    justify-content: center;*/
}
.swiper-button-next{
    background-image: url(../img/55.png);
    top: 95.5%;
    bottom: 5%;
    left: 50%;
    right: auto;
    margin: -13.5px;
    transform: rotateZ(90deg);

}
.swiper-container img{
    width:100%;
    height:100%;
}
.bgm-btn{
    position: absolute;
    right:20px;
    top:20px;
    z-index: 100;
    display: block;
    width:30px;
    height:30px;
    background: url(../img/1.svg) no-repeat;
    background-size: contain;
    cursor: pointer;
}
.bgm-btn.rotate{
    animation:rotateing 1.2s linear infinite;
}
@keyframes rotateing{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

.one{
    background:#fef4dd;
    position: relative;
}
.shu img{
    width:20%;
    height:500px;
    position: absolute;
    right:0;
}
.yao img{
    width:40%;
    height:300px;
    position: absolute;
    top:15%;
    left:2%;
    /*animation:yao1 2s;
    animation-fill-mode:forwards;*/
}
.sheng p{
    width:10px;
    height:400px;
    padding:30px;
    text-align: center;
    color:#6d6b68;
    font-size:18px;

}
.sheng p:nth-of-type(1)  span{
    transform:rotate(90deg);
    display: block;
    margin-left: 10px;
}
.sheng p:nth-of-type(2)  span{
    display: block;
    padding-top:8px;
}
.sheng p:nth-of-type(1){
    background: url(../img/1.png) no-repeat;
    background-size: contain;
}
.sheng p:nth-of-type(2){
    background: url(../img/1.png) no-repeat 10%;
    background-size: contain;

}
.sheng p:nth-of-type(3){
    background: url(../img/1.png) no-repeat;
    background-size: contain;

}

.fly img{
    width:15%;
    height:50px;
    margin-top:80%;
}
.shan{
    position: absolute;
    top:60%;
    width:100%;
}
.mu{
    position: absolute;
    top:94%;
    width:100%;
}
.shen p:nth-of-type(1) {
    width:5%;
    font-size: 36px;
    padding-top:100px;
}
.shen p:nth-of-type(2){
    width:5%;
}
.shen p:nth-of-type(2){
    background-image:none ;
}
.xie{
    position: absolute;
    top:40%;
    left:40%;
    font-size:48px;
    color:#6d6b68;
}
@media(max-width: 420px){
    .shu img{
        width:50%;
        height:450px;
        position: absolute;
        right:0;
    }
    .yao img{
        width:50%;
        height:250px;
        margin-top:20%;
    }
    .sheng{
        width:100%;
        height:150px;
        position: absolute;
        top:55%;
    }
    .sheng p{
        width:66%;
        height:40px;
        padding:10px;

    }
    .sheng p:nth-of-type(1) span{
        transform:none;
        display: inline-block;
        margin-left: 0px;
    }
    .sheng p:nth-of-type(2) span{
        display: inline-block;
        padding-top:0px;
    }
    .sheng p:nth-of-type(1){
        background: url(../img/7.png) no-repeat;
        background-size: contain;
        color:#6d6b68;
        font-size:15px;
    }
    .sheng p:nth-of-type(2){
        background: url(../img/7.png) no-repeat;
        background-size: contain;
        color:#6d6b68;
        font-size:15px;
        text-align: center;

    }
    .sheng p:nth-of-type(3){
        background: url(../img/7.png) no-repeat;
        background-size: contain;

    }
    .fly{
        width:40%;
        height:40px;
        margin-top:95%;
        margin-left:50%;
    }
    .fly img{
        width:100%;
        position: absolute;
        top:100%;

    }
    .shan{
        position: absolute;
        top:75%;
    }
    .mu{
        position: absolute;
        top:94%;
    }
    .shen{
        position: absolute;
        top:15%;
    }
    .shen p:nth-of-type(1) {
        width: 50%;
        padding-top:10px;
        margin-top: 20px;
        font-size: 28px;
    }
    .shen p:nth-of-type(2){
        width:50%;
        height: 0;
        margin-top: 20px;
    }
    .shen p:nth-of-type(3) span{
        background-image:none ;
        text-align: center;
        font-size:14px;
        background-color: #fff;
        padding: 8px 0;
        margin: 8px 0;
        width: 48%;
        display: inline-block;
    }
    .shen p:nth-of-type(3){
        background-image:none ;
        height:200px;
        text-align: left;
        font-size:16px;
    }
    .shen p:nth-of-type(3) a{
        box-shadow: 0 0 20px #666;
        background: #fff;
        display: block;
    }
    .shen p:nth-of-type(3) a img{
        padding:10px;

    }
    .shen p:nth-of-type(3) strong:nth-of-type(2){
        font-size:16px;
    }
    .xie{
        width:100%;
        position: absolute;
        top:20%;
        left:5%;
        font-size:34px;
    }
}



/*@keyframes yao1{
    90%{
        width:50%;
        height:350px;
    }
    100%{
        position: absolute;
        top:10%;
        left:6%;
        width:40%;
        height:300px;
    }
}*/

@keyframes shu1{

}